

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
}


.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #FF6347;
  overflow-x: hidden;
}


.sidebar .text {
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  display: block;
}


nav ul {
  background: #FF6347;
  height: 100%;
  width: 100%;
  list-style: none; 
}

nav ul li {
  line-height: 60px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

nav ul li a {
  color: white; 
  text-decoration: none;
  font-size: 18px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}

nav ul li a:hover{
  color: orange; 
  background: #FF6347;
  border-left-color: orange;
}

nav ul ul {
position: static; 
  display: none;
}

nav ul ul li {
  line-height: 42px;
  border-bottom: none;
}

nav ul ul li a {
  font-size: 17px;
  color: #e6e6e6;
  padding-left: 80px
}

.content {
  margin-left: 200px;
  padding-left: 20px;
}


