* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI Semilight", Tahoma, Geneva, Verdana, Arial, Helvetica, sans-serif;
  background: url("https://textures.neocities.org/textures/abstract-pink-and-blue/cio60797.jpg")
     ; 
  background-repeat: repeat;
  background-size: 20px 35px;
  display: flex; 
  cursor: url("cursor.cur"), auto;
  height: auto; 
	overflow: auto;
  flex-direction: row;
padding: 10px;
   background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px; 
}


#container {
  display: flex;
	flex-direction: row;
  width: 100%;
  height: 80%; 
   padding:5px;
   gap:5px;
   margin: 5vw auto 12px auto;
   outline-offset: 4px;
   border-radius:10px;
   background: white;
	overflow: hidden;
	margin: 0;

}

header {
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 110px; 
	border: 2px ridge var(--border);
	border-radius: 5px;
	position: relative;
   background: linear-gradient(
    100deg,
    rgb(255 75 0 / 57%) 80%,
   rgb(255 255 255 / 90%) 100%
  );
}
header span {
	font-size: 2.5rem;
	position: absolute;
	bottom: 0;
	left: 10px;
	margin: 10px;
	font-weight: bold;
	text-shadow: 1px 1px var(--text),
		-1px 1px var(--text),
		1px -1px var(--accent),
		-1px -1px var(--accent);
	color: white;
}


.sidebar {
  background: linear-gradient(
    100deg,
    rgb(255 75 0 / 57%) 50%,
   rgb(255 255 255 / 90%) 100%
  );
  border-right: 1px solid #FF6347;
  border-left: 1px solid #FF6347;
  border-bottom: 1px solid #FF6347;
  border-bottom-left-radius: 60px;
  backdrop-filter: blur(1px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  width: 400px;
  padding: 8px 11px 14px 11px;
  overflow: auto;
	height:100vh;
	position: sticky;
}

.sidebar .text {
  color: white;
  font-size: 20px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  display: block;
}


nav ul {
  background: #FF6347;
  height: 100%;
  width: 100%;
  list-style: none; 
}

nav ul li {
  line-height: 30px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

nav ul li:last-child{
  border-bottom: 1px transparent;
}

nav ul li a {
  position: relative; 
  color: white; 
  text-decoration: none;
  font-size: 16px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}

nav ul li a.active {
  color: orange; 
  background: #FF6347;
  border-left-color: orange;
}

nav ul ul li a:hover{
  color: orange!important;
  background: #FF6347!important;
  
}

nav ul ul {
position: static; 
  display: none;
}

nav ul .hw2-show.show{
  display: block; }

nav ul .hw3-show.show{
  display: block; }

nav ul .hw4-show.show{
  display: block; }

nav ul ul li {
  line-height: 42px;
  border-bottom: none;
}

nav ul ul li a {
  font-size: 14px;
  color: #e6e6e6;
  padding-left: 80px;
}

nav ul li a span {
  position: absolute; 
  top: 50%; 
  right: 20px;
  font-size: 100px; 
  transform: translateY(-50%);
  font-size: 22px; 
  transition: transform 0.4s;
}

nav ul li a span.rotate {
  transform: translateY(-50%) rotate(-180deg);
}

.content {
  padding: 20px;
  flex-grow: 1; 
  margin-left: 100px; 
  display: flex; 
  flex-direction: column; 
  justify-content: flex-start;
	height: auto;
	overflow-y:auto;
}

.content h1 {
  color: blue;
  text-align: center;
}
